<!DOCTYPE html>
<html>
  <head>

    <title>yes</title>

  </head>
  

  <body>
      {% set messages = get_flashed_messages() %}
      {% for each in messages %}
        <h3>{{each}}</h3>
        <br>
        <img src="{{img}}">
      {% endfor %}
    <center>
            <form method= "POST" action="/query">
                <h1>Query</h1>
                <br>
                Enter username:<br>
                <input type="text" name="query">
                <br>
                <h1>click:</h1>
                <br>
                <input type="submit"  name="querybutton">
              </form>
    </center>
  </body>
  <br>
  <hr>
    <center>
  <form action="/home" method= "POST">
      <input type="submit" value="Go Home">
    </form>
    </center>
</html>